h1 {color:rgb(0, 38, 255)}
h1 {font-size: 340%}
h1 {text-align: center;}
h1 {border: solid 3PX rgb(255, 0, 0)}

h2 {font-size: 170%}
h2 {color: black}
h2 {text-align: center;}


h3 {font-size: 170%}
h3 {color: black}
h3 {text-align: center;}


h4 {font-size: 170%}
h4 {color: black}
h4 {text-align: center;}


h5{font-size: 170%}
h5{color: rgb(3, 3, 3)}
h5 {text-align: center;}

#gran {margin-left: 30%}
#gran {width: 40% }
#gran {size: 500% }
#gran {border-color: red;}

#pista {margin-left: 27%}
#pista {width: 40%}
#pista {size: 250%}
#pista {border-color: red;}

#lancer {margin-left: 27%}
#lancer {width: 40%}
#lancer {size: 250%}
#lancer {border-color: red;}

